body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background: $light-grey;
    color: $type-light;
}

h1, h2, h3, h4, h5, h6, strong {
    color: $type-main;
    font-weight: 600;
}

label {
    font-weight: 300;
    color: $type-light;
    font-size: 14px;
    margin: 0;
}

.form-group:last-child {
    margin: 0;
}

input,
textarea {
    &,
    &.form-control {
        font-family: $font-family-sans-serif;
        font-size: 16px;
        color: $type-main;
        border: none;
        border-bottom: 1px solid $border-light;
        padding: 15px 0;
        box-shadow: none;
        border-radius: 0px;
        font-weight: 300;
        position: relative;
        &:focus,
        &:active,
        &:hover {
            outline: none;
            border-color: $brand;
            box-shadow: none;
        }
    }
}

textarea {
    resize: vertical;
}

button[type="submit"],
.btn-cancel {
    padding: 14px 35px;
    font-size: 16px;
    font-weight: normal;
    color: white;
    background-color: $brand;
    border: none;
    border-radius: 100px;
    line-height: 1;
    margin-top: 10px;
    &:hover {
        color: white;
    }
}

.btn-cancel {
    background-color: $cancel;
}

.input-helper {
    font-size: 13px;
    margin: 5px 0 0 0;
    font-weight: 300;
}
