#app {
    @include clearfix();
    #navigation {
        position: fixed;
        top: 0;
        left: 0;
        width: 225px;
        background: white;
        float: left;
        height: 100vh;
        box-shadow: 0 3px 50px 0 rgba(0, 0, 0, 0.06);
        z-index: 10;
        ul {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                border-left: 3px solid transparent;
                a {
                    color: $type-light;
                    font-size: 16px;
                    text-decoration: none;
                    padding: 20px 17px;
                    display: block;
                    font-weight: 300;
                }
                &.active {
                    border-left-color: $brand;
                    a {
                        color: $type-highlight;
                        font-weight: normal;
                    }
                }
                &.seperator {
                    border: none;
                    display: block;
                    // margin: 3px 0;
                    height: 1px;
                    background-color: $border-light;
                }
                &.logout {
                    a {
                        font-size: 14px;
                    }
                }
                > ul {
                    padding-left: 15px;
                    li {
                        border: none;
                        a {
                            padding: 10px 17px 15px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    #main-content {
        margin-left: 225px;
        width: calc(100% - 225px);
        float: left;
        .content-header {
            padding: 46px 60px 20px 60px;
            border-bottom: 1px solid $border-light;
            h3 {
                margin: 0;
                font-size: 20px;
                font-weight: bold;
                line-height: 24px;
            }
            h4 {
                font-size: 14px;
                font-weight: normal;
                color: $type-light;
                line-height: 17px;
                margin: 0;
            }
        }
        .content-container {
            padding: 45px 60px 30px 60px;
        }
    }
}
