.all-projects {
    @include clearfix();
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
    .project-column {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        .header {
            margin-bottom: 10px;
            &:not(:first-of-type) {
                margin-top: 30px;
            }
            h3, span {
                display: inline-block;
                line-height: 24px;
            }
            h3 {
                font-size: 20px;
                margin: 0;
            }
            span {
                font-size: 14px;
                color: $type-secondary;
                font-weight: 300;
                border-left: 1px solid $border-light;
                margin-left: 10px;
                padding-left: 10px;
            }
        }
        .entries {
            background-color: white;
            padding: 20px;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            &.empty {
                opacity: 0.5;
            }
            .single-entry {
                position: relative;
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $border-light;
                }
                .content {
                    position: relative;
                    .entry-option {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $light-blue;
                        right: 0px;
                        line-height: 100%;
                        cursor: pointer;
                        z-index: 10;
                        &:hover {
                            z-index: 11;
                            padding: 10px 0;
                            ul {
                                display: block;
                            }
                        }
                        ul {
                            display: none;
                            position: absolute;
                            background-color: white;
                            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
                            border-radius: 5px;
                            margin: 0;
                            padding: 0;
                            top: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            border: 1px solid $border-light;
                            overflow: hidden;
                            li {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                a {
                                    font-family: $font-family-sans-serif;
                                    color: $type-light;
                                    font-size: 16px;
                                    padding: 12px;
                                    display: block;
                                    text-decoration: none;
                                }
                                &:hover a {
                                    color: white;
                                    background-color: $brand;
                                }
                            }
                        }
                    }
                }
                h4 {
                    font-size: 18px;
                    margin: 0;
                    display: inline-block;
                    line-height: 22px;
                    font-weight: normal;
                    small {
                        font-size: 12px;
                        color: $type-highlight;
                        font-weight: normal;
                        border-left: 1px solid $border-light;
                        margin-left: 10px;
                        padding-left: 10px;
                    }
                }
                p {
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 16px;
                    margin: 0;
                    font-weight: 300;
                    padding-right: 30px;
                    line-height: 19px;
                }
                .tags {
                    margin: 7px 0 0 0;
                    padding: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        padding: 6px 9px;
                        font-size: 12px;
                        font-weight: normal;
                        color: $type-main;
                        background: $tag;
                        line-height: 1;
                        border-radius: 2px;
                        &:not(:first-child) {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .total {
            text-align: right;
            margin-top: 15px;
        }
    }
    .primary-column {
        width: 60%;
    }
    .secondary-column {
        width: 40%;
    }
}
