.timesheets,
.projects {
    .sub-nav {
        border-bottom: 1px solid $border-light;
        padding-bottom: 20px;
        @include clearfix();
        .btn {
            text-transform: uppercase;
            border-radius: 100px;
            padding: 10px 20px;
            border: none;
            font-size: 10px;
            font-weight: normal;
            line-height: 12px;
            &.btn-primary {
                background-color: $brand;
            }
        }
        .show-all {
            float: right;
        }
    }
}

.timesheet-items {
    @include clearfix();
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
    .timesheet-column {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        .header {
            margin-bottom: 10px;
            &:not(:first-of-type) {
                margin-top: 30px;
            }
            h3, span {
                display: inline-block;
                line-height: 24px;
            }
            h3 {
                font-size: 20px;
                margin: 0;
            }
            span {
                font-size: 14px;
                color: $type-secondary;
                font-weight: 300;
                border-left: 1px solid $border-light;
                margin-left: 10px;
                padding-left: 10px;
            }
        }
        .entries {
            background-color: white;
            padding: 20px;
            box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            .single-entry {
                position: relative;
                &:not(:last-of-type) {
                    margin-bottom: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $border-light;
                }
                .content {
                    position: relative;
                    .entry-option {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        color: $light-blue;
                        right: 0px;
                        line-height: 100%;
                        cursor: pointer;
                        z-index: 10;
                        &:hover {
                            z-index: 11;
                            padding: 10px 0;
                            ul {
                                display: block;
                            }
                        }
                        ul {
                            display: none;
                            position: absolute;
                            background-color: white;
                            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
                            border-radius: 5px;
                            margin: 0;
                            padding: 0;
                            top: 100%;
                            left: 50%;
                            transform: translateX(-50%);
                            border: 1px solid $border-light;
                            overflow: hidden;
                            li {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                a {
                                    font-family: $font-family-sans-serif;
                                    color: $type-light;
                                    font-size: 16px;
                                    padding: 12px;
                                    display: block;
                                    text-decoration: none;
                                }
                                &:hover a {
                                    color: white;
                                    background-color: $brand;
                                }
                            }
                        }
                    }
                }
                h4 {
                    font-size: 18px;
                    margin: 0;
                    display: inline-block;
                    line-height: 22px;
                    font-weight: normal;
                    small {
                        font-size: 12px;
                        color: $type-highlight;
                        font-weight: normal;
                        border-left: 1px solid $border-light;
                        margin-left: 10px;
                        padding-left: 10px;
                    }
                }
                p {
                    max-width: 100%;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-size: 16px;
                    margin: 0;
                    font-weight: 300;
                    padding-right: 30px;
                    line-height: 19px;
                }
                .tags {
                    margin: 7px 0 0 0;
                    padding: 0;
                    li {
                        list-style: none;
                        display: inline-block;
                        padding: 6px 9px;
                        font-size: 12px;
                        font-weight: normal;
                        color: $type-main;
                        background: $tag;
                        line-height: 1;
                        border-radius: 2px;
                        &:not(:first-child) {
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .total {
            text-align: right;
            margin-top: 15px;
        }
    }
    .primary-column {
        width: 60%;
    }
    .secondary-column {
        width: 40%;
    }
}

.timesheet-items.all-timesheets {
    .timesheet-column {
        .entries {
            padding: 0;
            background: none;
            box-shadow: none;
            .entry {
                background-color: white;
                padding: 20px;
                margin: 0;
                border-bottom: 1px solid #EAEAEA;
            }
            .main-entry:not(:first-child) {
                .header {
                    margin-top: 25px;
                }
            }
        }
    }
}

.modal-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    animation-name: fade;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($brand, 0.4);
    }
    .entry-modal {
        width: 100%;
        max-width: 700px;
        padding: 30px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background: white;
        position: absolute;
        z-index: 101;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        animation-name: modal;
        animation-duration: 250ms;
        animation-fill-mode: forwards;
        animation-delay: 250ms;
        opacity: 0;
        .btn-cancel {
            margin: 0 0 0 10px;
        }
    }
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes modal {
    0% {
        opacity: 0;
        transform: translate(-50%, -70%);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
