$white: #F9F9F9;
$light-grey: #F5F5F5;
$light-blue: #D4D9ED;
$cancel: #F16B6F;

$type-light: #A5A5A4;
$type-highlight: #6381E6;
$type-main: #4A4D52;
$type-secondary: #A5A5A4;

$tag: #eee;

$border-light: #EAEAEA;

$brand: #6381E6;
